#ajoutSpectacle {
    background-color: white;
    
}

#ajoutRepresentation {
    background-color: white;
    
}

#usersList {
    background-color: white;
     
}

#btnUsers {
    margin-bottom: 5px;
    margin-top: 5px;
}

#formulaireSpectacle {
    display: none;
}

#formulaireRepresentation {
    display: none;
}

#btnSpectacle {
    margin-bottom: 5px;
    margin-top: 5px;
}

#btnRepresentation {
    margin-bottom: 5px;
    margin-top: 5px;
}

table {
    text-align: center;
    margin: auto;
}
#validationAjoutSpectacle{
    margin-top: 5px;
    margin-bottom: 5px;
}
#validationAjoutRepresentation{
    margin-top: 5px;
    margin-bottom: 5px;
}